{% extends "./_base.html" %}
<!--  -->
{% block content %}
    <div class="container">
        <h2 class="text-center">Delete data</h2>
        <p>Confirm to delete data!</p>

        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="float-right">
                        <a class="btn btn-outline-dark" href="{% url 'index' %}">Cancel</a>
                        <input type="submit" class="btn btn-outline-dark delete" value="Delete"/>
                    </div>
                </div>
            </div>
            {% include "./item_detail_contents.html" %}
            <div class="row">
                <div class="col-12">
                    <div class="float-right mb-3">
                        <a class="btn btn-outline-dark" href="{% url 'index' %}">Cancel</a>
                        <input type="submit" class="btn btn-outline-dark delete" value="Delete"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}