<div class="row">
    <div class="col-5 col-sm-3">
        <p>Sales Stage</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.get_sales_stage_display|default_if_none:"Unentered" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Contact Name</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.contact_name|default_if_none:"Unentered"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>E-mail</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.email|default_if_none:"Unentered"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Company Name</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.company_name|default_if_none:"Unentered"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Lead From</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.get_lead_from_display|default_if_none:"Unentered" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Lead Received Date</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.lead_received_date|date:"Y/m/d/" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Initial Meeting Date</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.initial_meeting_date|date:"Y/m/d/" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Estimated Closed Date</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.estimated_closed_date|date:"Y/m/d/" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Sales Rep.</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.sales_rep.get_full_name|default_if_none:"Unentered" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Deal Size [USD]</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.deal_size|default_if_none:"Unentered" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Probability of Deal [%]</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.probability_of_deal|default_if_none:"Unentered" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Forecast [USD]</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.forecast|default_if_none:"Unentered" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Creator</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Created Datetime</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Updater</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Updated Datetime</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
